<!-- Start Section -->
<div class="section footer-section section-pad-md no-pb">
  <div class="ui-shape ui-shape-light ui-shape-footer"></div>
  <div class="container">
    
    <div class="row">
      <div class="col-3">
        <div class="bk-footer-contact">
          <h5>
            <a href="/" target="_self" class="logo">
              <%= image_tag 'blue.png' %>
              <%= image_tag 'white.png', style: "height:56px;width:130px;margin-bottom:20px;" %>
            </a>
          </h5>
          <p class="sns">
            <a href="#" role="button" data-toggle="popover" data-placement="top" data-html="true" data-trigger="hover" data-content="Facebook" data-original-title="" title="">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="#" target="_blank" role="button" data-toggle="popover" data-placement="top" data-html="true" data-trigger="hover" data-content="Twitter" data-original-title="" title="">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="#" target="_blank" role="button" data-toggle="popover" data-placement="top" data-html="true" data-trigger="hover" data-content="Telegram" data-original-title="" title="">
              <i class="fab fa-telegram-plane"></i>
            </a>
          </p>
        </div>
      </div>
      <div class="col-6">
        <div class="row">
          <div class="col-6">
            <div class="bk-footer-contact">
              <h5>
                UTILITY
              </h5>
              <p class="link">
                <a href="/api" target="_blank">
                  API
                </a>
              </p>
              <p class="link">
                <a href="/mobile_app" target="_blank">
                  Mobile App
                </a>
              </p>
            </div>
          </div>
          <div class="col-6">
            <div class="bk-footer-contact">
              <h5>
                Customer Service
              </h5>
              <p class="link">
                <a href="/help_center" target="_blank">
                  Help Center
                </a>
              </p>
              <p class="link">
                <a href="/faq" target="_blank">
                  FAQ
                </a>
              </p>
              <p class="link">
                <a href="/terms" target="_blank">
                  Term of use
                </a>
              </p>
              <p class="link">
                <a href="/fees" target="_blank">
                  Fees
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="bk-footer-contact">
          <h5>
            Contact Us
          </h5>
          <p class="contlink">
            Service：<a href="mail:Info@archidax.co" target="_self">Info@archidax.co</a>
          </p>
          <p class="contlink">
            Business：<a href="mail:Info@archidax.co" target="_self">Info@archidax.co</a>
          </p>
          <p class="contlink">
            Listing Cryptocurrency Request：<a href="mail:Info@archidax.co" target="_self">Info@archidax.co</a>
          </p>
        </div>
      </div>
    </div>
    <!-- end row -->

    <div class="footer-bottom">
       <div class="row align-items-center">
          <div class="col-sm-6 res-m-bttm">
           
          </div>
          <div class="col-sm-6 text-sm-right">
             <span class="copyright-text"> &copy; 2017 - 2018 Archidax.trade. All rights reserved</span>
          </div>
       </div>
    </div>
  </div>
  <!-- .container -->
</div>
<!-- End Section -->
<!-- Preloader !remove please if you do not want -->
<div id="preloader">
   <div id="loader"></div>
   <div class="loader-section loader-top"></div>
   <div class="loader-section loader-bottom"></div>
</div>
<!-- Preloader End -->
