body.devise {
  font-family: Aileron, sans-serif;
  min-height: 100vh;

  background-image: image-url($devise-background-image);
  background-size: cover;
  background-repeat: no-repeat;
  color: #aeb4ce;
}

.main-card {
  margin:0!important;
  box-sizing: border-box;
  height: 100vh;
  min-height: 608px;
  min-width: 870px;
  max-width: 100%;
  position: relative;
}

body.devise .card {
  width: 460px;
  padding: 2.5rem 2.5rem 3rem;
  position: absolute;
  left: 50%;
  top: 48%;
  text-align: center;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  border: none;
  margin-top: -41px;
  z-index: 2;
  border-radius: 20px;
  background: rgba(25,25,25,.9);
}

.logo {
  display: inline-block;
  width: fit-content;
  margin: auto;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: -25px;
}

.logo-name {
  font-weight: 600;
  font-size: 22px;
}

.footer-section .logo {
  display: flex;
}

.logo img {
  height: 55px;
  border-radius: 50%;
  background-color: #1c233f;
  padding: 4px;
  box-shadow: 0 0 0 2.25px #4ac7ec;
}

.verifyBottom {
  padding: 15px 0;
  text-align: center;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
  height: 8.5rem;
}

.dropdown-menu {
  padding: 4px 0;
  font-size: 13px;
  box-shadow: 0 3px 12px rgba(112, 129, 185, 0.05);
  border-color: #28365f;
  margin: 0;
  background-color: #1c233f;
}

.dropdown-menu .dropdown-item {
  padding: 6px 24px;
  color: #aeb4ce;
}

.dropdown-menu .dropdown-item:hover,
.dropdown-menu .dropdown-item:active {
  color: #aeb4ce;
  text-decoration: none;
  background-color: #171d34;
}

.dropdown-menu.show {
  z-index: 2;
}

.verifyBottom .item {
  font-size: 13px;
}

.verifyBottom .item a, .verifyBottom .item a:visited {
  text-decoration: none;
  color: #aeb4ce;
}

.verifyBottom .item a:hover {
  color: #0056b3
}

body.devise .card .title {
  font-size: 16px;
  color: #666;
  text-align: center;
  font-weight: normal !important;
  position: relative;
  padding: 0;
}

body.devise .card .title > span {
  padding: 0 30px;
  background: #131722;
  position: relative;
  z-index: 99;
  color: #999;
}

body.devise .card .title::after {
  content: " ";
  display: inline-block;
  width: 100%;
  height: 1px;
  background: #f1f1f1;
  position: absolute;
  left: 0;
  top: 50%;
}

body.devise .card .pt-2 {
  width: 100%;
  position: static !important;
  display: inline-block;
  left: 0;
  right: 0;
  margin: auto;
}

.icon-warn:before {
  content: "\e62b";
}

.importantInfo {
  text-align: center;
  width: 100%;
  position: relative;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}

.importantInfo p {
  font-size: 12px;
  line-height: 100%;
  margin-left: -4px;
  white-space: nowrap;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

.importantInfo p > img {
  width: 14px;
  margin-top: -5px;
}

.form-control {
  display: inline-block;
  line-height: 38px;
  padding: 0 10px 0 40px;
  background-position: 11px 13px;
  background-repeat: no-repeat!important;
  color: #333;
  width: 100%;
  height: calc(2.3rem + 2px);
}

input.form-control::placeholder {
  color: #fff;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: #fff !important;
  -webkit-box-shadow: 0 0 0px 1000px #698cf1 inset;
}

input.form-control,
input.form-control:focus {
  border-radius: 50px;
  background-color: #698cf1;
  border: none;
  font-size: 0.8rem;
  color: #fff;
}

.form-group {
  margin-bottom: 1.3rem;
}

.form-group a {
  color: #aeb4ce;
}

.form-group a:hover {
  text-decoration: none;
  color: #4d79f6;
}

.form-group label {
  color: #919cbb;;
}

.form-group .form-input-icon {
  width: 32px;
  height: 32px;
  background-color: #28365f;
  text-align: center;
  line-height: 32px;
  border-radius: 50%;
  position: absolute;
  left: 3px;
  z-index: 100;
  top: 3px;
  color: #8997bd;
}

.form-input-icon.input-mail-icon {
  background-image: image-url('envelope-solid.svg');
  background-repeat: no-repeat;
  background-position: 10px 10px;
  background-size: 12px;
}

.form-input-icon.input-password-icon {
  background-image: image-url('password.svg');
  background-repeat: no-repeat;
  background-position: 10px 9px;
  background-size: 12px;
}

.form-input-icon.input-refercode-icon {
  background-image: image-url('user.svg');
  background-repeat: no-repeat;
  background-position: 10px 9px;
  background-size: 12px;
}

.submit-container {
  margin-top: 2.5rem;
}

.submit-container input.btn:not(:disabled):hover {
  background-color: #3567f5;
  border: 1px solid #3567f5;
}

.submit-container input.btn:not(:disabled):focus {
  box-shadow: 0 0 0 2px rgba(77, 121, 246, 0.3)
}

input[disabled] {
  pointer-events: none;
  opacity: 0.45;
}

.submit-container input.btn:not(:disabled):active {
  background-color: #3567f5;
  border: 1px solid #3567f5;
  color: #658bf7;
}

.submit-container input.btn:focus {
  background-color: #3567f5;
  border: 1px solid #3567f5;
}

.submit-container input.btn {
  font-size: 0.9rem;
  font-weight: normal;
  color: #fff;
  line-height: 1.5rem;
  width: 100%;
  text-align: center;
  text-transform: none;

  background-color: #4d79f6;
  border: 1px solid #4d79f6;
  box-shadow: 0 2px 6px 0 rgba(77, 121, 246, 0.5);
  border-radius: 30px;
  padding: .375rem .7rem;
}

.submit-container i {
  position: absolute;
  left: 57%;
  bottom: 0.73rem;
  font-size: 1rem;
  color: #fff;
  opacity: .45;
}

.text-yellow {
  color: #e8b342 !important;
}

.footer-container {
  width: 330px;
  margin: 0 auto;
  margin-top: 1.5rem;
}

.footer-container > div {
  padding: 0;
  font-size: 13px;
}

.footer-container a {
  color: #4d79f6;
}

.footer-container a:hover {
  color: #0056b3;
  text-decoration: none;
}

.empty-field {
  color: red;
  text-align: left !important;
  padding: 10px 0;
  margin:0;
  display: none;
}

.empty_input {
  border-color: #ff5252 !important;
}

.info-alert {
  white-space: normal;
  line-height: 14px;
  text-align: left;
  box-sizing: border-box;
  background: none;
  font-size: .8rem;
  padding: 0.5rem 1rem;
  color: #967a3d;
}

.signup-banner-container img {
  width: 130%;
  margin-left: -15%;
}

.main-card .card .alert {
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

.custom-switch:before {
  left: -2.25rem;
  width: 1.75rem;
  pointer-events: all;
  border-radius: .5rem;

  content: "";
  background-color: #29335b;
  border: 1px solid #2c3762;

  transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

  position: absolute;
  top: .25rem;
  display: block;
  height: 1rem;
}

.custom-switch:after {
  top: calc(.25rem + 2px);
  left: calc(-2.25rem + 2px);
  width: calc(1rem - 4px);
  height: calc(1rem - 4px);
  background-color: #adb5bd;
  border-radius: .5rem;
  transition: transform .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-transform .15s ease-in-out;

  position: absolute;
  display: block;
  content: "";
}

input[type='checkbox']#agreement {
  display: none;
}

.custom-switch-success:before {
  color: #ffffff;
  border-color: #1ecab8;
  background-color: #1ecab8;
}

.custom-switch-success:after {
  background-color: #fff;
  transform: translateX(.75rem);
}

