body {
  font-size: 12px;
  height: 100vh !important;
  min-height: 100vh !important;
  max-height: 100vh !important;
}

.navbar-static-top {
  background-color: #1C233F;
  min-height: 75px;
  height: 75px;
  margin-bottom: 1px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  justify-content: space-between;
  align-items: center;
  z-index: 10000;
  border: none;
}

.navbar-brand {
  height: 100%;
}

.navbar-brand img {
  width: 160px;
  vertical-align: middle;
}

.navbar-default .navbar-text {
  margin: 0;
  padding: 0;
  float: none;
  line-height: 40px;
}

.navbar-left {
  display: flex;
  flex-wrap: nowrap;
  flex: 1 0 10%;
  max-height: 100%;
  height: 100%;
}

.navbar-left > ul {
  margin: 0 9px;
}

.market-info {
  flex-wrap: nowrap;
  font-size: 90%;
  border-right: 1px solid #151833;
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: space-around;
  flex: 1 1 auto;
}

.middle-nav {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  justify-content: center;
  white-space: nowrap;
  flex: 0.1 1 auto;
  font-weight: normal;
  font-size: 12px;
}

.market-info-text > span {
  color: #aeb4ce;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 1.3rem;
}

.market-info-text > span:before {
  margin-right: 3px;
  color: #aeb4ce;
}

.market-switch {
  -webkit-box-align: center;
  align-items: center;
  color: #828db1;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  user-select: none;
  white-space: nowrap;
  padding: 0px 0.4em;
  height: 100%;
  flex-direction: row;
  cursor: pointer;
  margin-left: 63px;
  font-size: 1.3rem;
}

.account_summary.active {
  background-color: rgb(0, 0, 0);
}

.user-info-container {
  color: rgb(255, 255, 255);
  font-size: 120%;
  height: 100%;
  flex: none;

  ul {
    height: 100%;

    li a {
      line-height: 39px;
      padding: 0 10px;
    }

    li#account_summary,
    li#account_summary a,
    li#settings,
    li#settings a {
      height: 100%;
      font-size: 1.4rem;
      color: #aeb4ce;
    }

    li#account_summary {
      margin-left: 2rem;
    }
  }

  a:hover {
    color: rgb(245, 188, 0);
    outline: none;
    text-decoration: none;
  }

  #account_summary .dropdown-menu.text-right,
  li#settings.dropdown ul {
    width: 150px;
    height: fit-content;
    position: absolute;
    top: 70px;
    right: 0;
    padding: 1px 0 0;
    box-shadow: 0 3px 12px rgba(112, 129, 185, 0.05);
    border: 1px solid #28365f;
    border-radius: .25rem;
    background-color: #1c233f;

    li a:hover {
      background-color: #171D34;
    }
  }
}

.select-language {
  -webkit-box-align: center;
  align-items: center;
  height: 100%;
  font-size: 1.3rem;
  color: #aeb4ce;
  position: relative;
  padding: 0 1.3em;
  margin-right: 4rem;
  cursor: pointer;

  #language {
    a.dropdown-toggle:hover {
      text-decoration: none;
    }

    img {
      width: 24px;
    }

    img.ko {
      width: 16px;
      height: 12px!important;
    }

    ul.dropdown-menu {
      width: 150px;
      height: fit-content;
      position: absolute;
      top: 40px;
      right: 0;
      left: auto;
      padding: 1px 0 0;
      box-shadow: 0 3px 12px rgba(112, 129, 185, 0.05);
      border: 1px solid #28365f;
      border-radius: .25rem;
      background-color: #1c233f;

      li {
        a:hover {
          background-color: #171D34;
        }
      }

      li:first-child {
        padding-top: 4px;
      }

      li:last-child {
        padding-bottom: 4px;
      }
    }
  }
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: black;
}

#account_summary .dropdown-toggle,
#settings .dropdown-toggle {
  display: flex;
  align-items: center;
}

#account_summary .dropdown-menu.text-right table {
  margin-top: -14px;
}

#account_summary .dropdown-menu.text-right table tr {
  background-color: #1b2226;
}

.market_list_container {
  background-color: #1C233F;
  box-shadow: 0 3px 12px rgba(112, 129, 185, 0.05);
  border: 2px solid #28365f;
  border-radius: .25rem;
  padding: 0;
  width: auto;
  height: fit-content;
}

#market_list_wrapper {
  font-size: 1.4rem;
  font-weight: normal;
  position: absolute;
  top: 50px;
  left: -4px;

  .dropdown-wrapper {
    position: inherit;
    height: auto;
    width: auto;
    top: 0;
    left: 0;
    z-index: 1000;

    ul {
      margin: 0;
      background: transparent;
      border: none;
      min-width: 420px;
      display: inline-block;
      padding: 0;

      li {
        display: inline-block;
      }
    }
  }
}

.has-right-dropdown .dropdown-wrapper .dropdown-menu {
  a.right-popup-menu {
    line-height: 30px;
    text-align: left;
    width: 70px;
    padding-left: 4px;
    font-size: 1.2rem;
    border: 1px solid #4d79f6;
  }

  a {
    line-height: 70px;
    width: 140px;
    border-radius: 4px;
    font-size: 1.3rem;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    background-color: transparent;
    color: #828db1;
    user-select: none;
    z-index: 100;
    border-image: initial;
    transition: none 0s ease 0s;
    border:none;
    margin: 0;
    padding: 0;
  }

  a.active,
  a.active:hover {
    background-color: #4D79F6;
    color: #fff;
  }
}

#market_list {
  position: inherit;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: fit-content;

  ul {
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    margin-right: 18px;
    margin-bottom: 0.1em;
    flex: 1 0 auto;
    width: fit-content;
    padding:0;
  }

  .panel-width {
    position: initial;
    border-radius: 0;
    background-color: #1c233f;;
    border: none;
  }

  .panel-body-head {
    padding: 0;
    border: none;

    thead tr {
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      background-color: #262F50;
      pointer-events: auto;
      height: 45px;
      width: 100%;
      overflow: hidden;
      padding-right: 0px;

      th {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        height: 100%;
        color: #aeb4ce;
        font-size: 1.4rem;
        font-weight: 500;
        width: 100%;
        padding: 0 8px;
      }
    }
  }

  table td {
    width: 100%;
  }

  table.markets.all {
    tr {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex !important;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      pointer-events: auto;

      td {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        padding: 1rem;
        border: 1px solid #272f52;

        a {
          color: #869ab8;
        }
      }
    }

    tr:hover {
      background-color: #1C233F !important;
    }

    tr.hide {
      display: none !important;
    }
  }

  .panel-body-head thead tr th.volume,
  table.markets.all tr td.change,
  table.markets.all tr td.volume,
  .panel-body-head thead tr th.change {
    justify-content: flex-end;
  }
}


#wrap {
  margin:0;
  position: relative;
  height: calc(100vh - 130px);
  margin-top: 3px;
  display: flex;
  flex-wrap: nowrap;
}

.left-column {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-top: 0;
  flex: 1 1 auto;
}

.right-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1 1 auto;
}

.top-right-column {
  padding-bottom: 0px;
  flex: 1 1 0%;
  display: flex;
  flex-wrap: wrap;
  height: 50%;
}

.bottom-right-column {
  height: 50%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
}

.place-order-container {
  margin-left: 3px !important;
  margin-right: 1px !important;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  min-height: 274px;
  font-family: 'Microsoft YaHei';
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #1C233F;
  flex: 1;
  padding: 7px;
  color: #aeb4ce;
  font-size: 1.25rem;

  .place-order-type {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    height: 4.5rem;
    padding: .5rem 0;

    ul {
      display: flex;
      justify-content: space-between;
      flex: 1;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        -webkit-box-align: baseline;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
      }

      li.active {
        background-color: #4D79F6;
        border-radius: 5px;
        color: #fff;
        font-weight: bold;
      }
    }
  }

  .place-order-boxes-continer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 1 0%;
  }
}


#ask_entry, #bid_entry {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background: none;
  flex: 1 1 0%;
  margin: 15px 0px;
  padding: 0px 26px;
  top: 0;
  bottom: 0;
  position: relative;
  left: 0;
  right: 0;
  border: none;
  box-shadow: none;

  .mask {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 900;
    display: flex;
    justify-content: flex-end;
    padding-right: 25px;
    padding-bottom: 20px;
    align-items: flex-end;

    a {
      background-color: #4ac7ec;
      border: 1px solid #4ac7ec;
      box-shadow: 0 2px 6px 0 rgba(74, 199, 236, 0.5);
      padding: .5rem .8rem;
      border-radius: 4px;
      color: #fff;
      margin-right: 5px;
    }

    a:hover {
      color: #fff;
      background-color: #33c0ea !important;
      border: 1px solid #33c0ea;
      text-decoration: none;
    }
  }
}

.mask {
  background: transparent;

  p {
    height: 34px;
    line-height: 34px;
    text-align: center;
    background: rgb(32, 38, 43);
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(64, 75, 85);
    border-image: initial;
    flex: 1 1 auto;
    width: 83%;
    margin: 0 auto;
    position: absolute;
    bottom: 19px;
    left: 0;
    right: 0;

    a {
      font-weight: bold;
      color: rgb(245, 188, 0);
      text-decoration: none;
    }
  }
}

#ask_entry .panel-body, #bid_entry .panel-body {
  padding: 0;
}

#ask_entry .row-tips, #bid_entry .row-tips {
  display: flex;
  padding-bottom: 5px;
  flex-basis: 18px;
  background: none;
  margin: 0px 0px 5px;
  flex-wrap: wrap;
  flex: 0 1 0%;
}

#ask_entry .row-tips > div, #bid_entry .row-tips > div {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: 100%;
}

#ask_entry .row-tips > div h3,
#bid_entry .row-tips > div h3 {
  font-size: 1.25rem;
  margin: 0;
}

#ask_entry .input-group label.input-group-addon, #bid_entry .input-group label.input-group-addon {
  color: #919cbb;
  text-align: right;
  background: transparent;
  border: none;
  font-size: 1.3rem;
  padding-right: 15px;
}

#ask_entry .input-group input, #bid_entry .input-group input {
  color: #8997bd;
  background: #1c233f;
  border: 1px solid #283158;
  border-radius: 4px;
  height: calc(3.9rem + 2px);
  padding: 0px 0px 0px 10px !important;
  box-shadow: none;
  flex: 1 1 auto;
  width: 100%;
  text-align: left;
  font-size: 1.3rem;
}

#ask_entry .input-group span.input-group-addon, #bid_entry .input-group span.input-group-addon {
  right: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  font-size: 12px;
  position: absolute;
  background-color: #20294A;
  color: #aeb4ce;
  top: 1px;
  border: none;
  padding: 0;
  height: calc(100% - 2px);
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border-left: 1px solid #283158;
}

#ask_entry .input-group.total, #bid_entry .input-group.total {
  margin-bottom: 33px;
}

#ask_entry button.text-down {
  color: white !important;
  background: rgb(255, 0, 122);
  border-color: rgb(255, 0, 122);
}

#bid_entry button.text-up {
  background: rgb(112, 168, 0);
  border-color: rgb(112, 168, 0);
  color: white !important;
}

.input-price-container {
  height: auto;
}

.top-right-column-left-part {
  display: flex;
  flex-basis: 50%;
  flex-wrap: nowrap;
  margin: 0px;
  max-height: 100%;
}

.top-right-column-right-part {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  flex: 1 1 50%;
}

#market_trades_wrapper {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 0%;
  user-select: none;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(0, 0, 0);
  border-image: initial;
  padding: 0px;
  margin: 0 2px;
  border: none;
}

#market_trades {
  position: relative;
  height: 100% !important;
  min-height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  margin: 0;
  border: none;
  font-family: 'Microsoft YaHei';

  .panel {
    background-color: #1C233F;
    user-select: none;
    padding: 0;
    height: 100% !important;
    min-height: 100%;
    width: 100%;
    margin: 0;
    border-radius: 5px;
    overflow: auto;

    .panel-body-head {
      display: none;
    }
  }

  .panel-default {
    border: none;
  }
}

#market_trades_wrapper .dropdown-wrapper {
  top: 3px;
  left: auto;
  right: 4px;

  .dropdown-menu {
    border: none;
    background: transparent;
    box-shadow: none;
    padding: 0;

    a i {
      color: #1b2226;
    }
  }
}

#market_trades_wrapper:hover .dropdown-wrapper {
  z-index: 1000;
}

.top-left-column {
  height: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex: 1 1 0%;
}

.bottom-left-column {
  height: 50%;
  display: flex;
  flex-wrap: wrap;
  padding-left: 6px;
  padding-right: 6px;
  background-color: #1C233F;
  border-top-right-radius: 5px;
  margin-top: 5px;
}

#my_orders {
  display: flex;
  flex-wrap: wrap;
  flex: 1 0 100%;
  position: inherit;
  border: none;
  border-radius: 0;
  width: 100%;
  height: 100%;
  background-color: #1C233F;
  color: rgb(212, 212, 212);
  position: relative;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  font-family: 'Microsoft YaHei';
}

#my_orders .panel-body-content .empty-row {
  color: #869ab8;
  font-size: 1.3rem;
  top: 30%;
}

#my_orders .panel-body-content {
  height: calc(100% - 36px);
  flex: 1 1 auto;
  position: relative;
}

.has-left-dropdown .dropdown-wrapper .dropdown-menu a {
  display: inherit;
}

#my_orders_wrapper {
  width: 100%;
  height: calc(100% - 36px);

  .dropdown-wrapper {
    background-color: #1C233F;
    height: auto;
    margin-top: 4px;
    margin-bottom: 2px;
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 100%;
    position: inherit;
    z-index: 10000;
    padding: 0;
    bottom: 0;
    right: 0;
  }

  .dropdown-wrapper > div {
    display: flex;
    flex-wrap: wrap;
    height: 3.4em;
    margin: 0.55em 0;

    button {
      background-color: #4d79f6;
      box-shadow: 0 2px 6px 0 rgba(77, 121, 246, 0.5);
      border: 1px solid #4d79f6;
      border-radius: 3px;
      color: #fff;
      cursor: pointer;
      flex-grow: 0;
      flex-shrink: 0;
      padding: 0.475rem 1.5rem;
      margin: 0;
      font-size: 1.4rem;
    }

    button:hover {
      background-color: #3567f5;
      border: 1px solid #3567f5;
    }
  }
}

.table-header-row {
  pointer-events: auto;
  height: 5.5rem;
  overflow: hidden;
  padding-right: 0px;
  width: 100%;
  background: #262F50;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 700;
  text-transform: uppercase;
}

.table-header-column {
  color: #aeb4ce;
  font-size: 1.3rem;
  font-weight: bold;
  text-transform: initial;
  flex: 1 1 8.3333333333%;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin: 0 7px;
  height: 100%;

  span {
    height: 100%;
    padding: 2.4rem 0 2rem .4rem;
  }
}

.cancel-container {
  justify-content: center;
  flex: 1 1 8.3333333333%;
  margin-right: 0;
  border: none;
}

.cancel-container > div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 3rem;
  padding: .4rem 0 .2rem 0;

  .cancel-all {
    cursor: pointer;
    color: #fff;
    background: #4ac7ec;
    text-decoration: none;
    border: 1px solid #4a7cec;
    box-shadow: 0 2px 6px 0 rgba(74, 199, 236, 0.5);
    font-weight: normal;
    font-size: 1.2rem;
    height: 2.6rem;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  .cancel-all > span {
    line-height: 2.5rem;
    padding: 0.05em 0.5em;
  }
}

.cancel-container > div > span {
  height: 2.6rem;
  width: 20px;
  text-align: center;
  cursor: pointer;
  color: #fff;
  background: #4ac7ec;
  margin: 0;
  border: 1px solid #4a7cec;
  box-shadow: 0 2px 6px 0 rgba(74, 199, 236, 0.5);
  font-weight: normal;
  font-size: 1.2rem;
  padding: .3rem 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;

  ul {
    display: none;
    flex-wrap: wrap;
    position: absolute;
    right: 7px;
    top: 3.6rem;
    z-index: 200;
    white-space: nowrap;
    min-width: 120px;
    list-style: none;
    margin: 0;
    padding: 0;
    background: #1c233f;
    width: 140px;
    box-shadow: 0 3px 12px rgba(112, 129, 185, 0.05);
    border: 1px solid #28365f;
    border-radius: 3px;
    height: 10rem;

    li {
      display: flex;
      font-size: 13px;
      color: rgb(51, 51, 51);
      flex: 1 0 100%;

      a {
        cursor: pointer;
        width: 100%;
        padding: 0.5em 0.5em;
        text-decoration: none;
        height: 100%;

        span {
          padding: 0;
          line-height: 1.8rem;
        }
      }

      a:hover {
        background-color: #171D34;
      }
    }
  }
}

.cancel-container > div span:hover ul {
  display: flex;
}

#candlestick {
  display: flex;
  flex-direction: column;
  position: relative;
  background: #131722;
  flex: 1 30 440px;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100% !important;
  height: calc(100% - 21px) !important;
  min-height: calc(100% - 21px) !important;
}

.first {
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
}

.second {
  height: 100%;
  flex: 1 1 0%;
}

.last-container {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
  background: rgb(0, 0, 0);
  overflow: hidden;
}

#candlestick .mask {
  background: transparent;
  height: calc(100% + 20px);
  margin-top: -20px;
}

.switch-container {
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  justify-content: space-between;
  background: rgb(32, 38, 43);
}

#range_switch {
  display: flex;
  list-style: none;
  margin: 0px;
  padding: 0px;
  position: inherit;
  top: 0;
  right: 0;
  height: 20px;
}

#range_switch li {
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
  background-color: rgb(47, 56, 63);
  display: flex;
  position: relative;
  user-select: none;
  border-width: 1px;
  margin: 1px;
  padding: 0px 0.4em;
}

#range_switch li a.active {
  color: rgb(240, 185, 11);
}

#indicator_switch_wrapper {
  display: flex;
  list-style: none;
  margin: 0px;
  padding: 0px;
  width: fit-content;
  top: 0;
  left: 0;
  right: 0;
  position: inherit;
  height: 20px;
  margin-left: auto;
}

ul.list-inline {
  margin: 0;
}

ul.list-inline li {
  -webkit-box-align: center;
  align-items: center;
  background-color: #131722;
  position: relative;
  cursor: pointer;
  line-height: 16px;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  border-image: initial;
  margin: 1px 0.1em 1px 0;
  padding: 0 3px;
  border: none;
}

#indicator_switch_wrapper li {
  padding:0 3px;
}

#indicator_switch_wrapper li.span-helper {
  padding:0;
}

#indicator_switch_wrapper li a.active {
  color: #f0b90b;
}

#chart-switch {
  display: flex;
  list-style: none;
  margin: 0px;
  padding: 0px;
  margin-left: auto;
  height: 20px;
  z-index: 1000;
}

#chart-switch li {
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
  background-color: rgb(47, 56, 63);
  display: flex;
  position: relative;
  user-select: none;
  border-width: 1px;
  margin: 1px;
  padding: 0px 0.4em;
}

#chart-switch li.active {
  color: #f0b90b;
}

#depths_wrapper {
  top: 0;
  bottom: 0;
  right: 0;
  border: none;
  border-radius: 0;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: calc(100% - 21px) !important;
  min-height: calc(100% - 21px) !important;
  max-height: calc(100% - 21px) !important;
  background: #131722;
  flex: 1 30 440px;
}

#depths_wrapper .panel-body {
  overflow: hidden;
  outline: none;
  width: 100%;
  height: 100%;
}

#tradingview {
  height: calc( 100% + 2px);
  position: relative;
  width: calc( 100% + 3px);
  clip-path: inset(1px 2px 1px 1px);
  display: flex;
  flex: 1 30 440px;
  outline: 0px;
  overflow: hidden;
  margin-right: -1px;
  margin-bottom: -1px;
  margin-left: -1px;
}

#tradingview .tradingview-widget-container {
  height: 100%;
  width: 100%;
}

#tradingview .tradingview-widget-container div {
  height: 100%;
}

.last-container .tradingview-widget-container {
  height: 100%;
  width: 100%;
}

.last-container .tradingview-widget-container div {
  height: 100%;
}

.order-book-container {
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
  background: #1C233F;
  user-select: none;
  margin: 0 2px 0 3px;
  padding: 0;
  border-radius: 5px;
  font-family: 'Microsoft YaHei';
}

.order-book-header-switch {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
  flex: 0 0 auto;
  padding: 4px;

  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: .3rem;

    li {
      display: flex;
      justify-content: center;
      padding: 0.5rem 0.15em;
      flex: 1;

      input {
        cursor: pointer;
        line-height: 100%;
        font-size: 12px;
        padding: 4px 5px;
        margin: 0px 2px;
        outline: 0px;
      }
    }

    li.active {
      border-radius: 5px;
      background-color: #262E58;
    }
  }
}

.order-book-header {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 2em;
  position: relative;
  overflow: hidden;
}

.order-book-header > div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: relative;
  width: 100%;
  flex: 0 1 auto;
  overflow: hidden;
}

.order-book-header-content {
  display: flex;
  flex-wrap: wrap;
  padding: .7rem .9rem;

  span.ReactVirtualized__Table__headerTruncatedText {
    color: #aeb4ce;
    font-size: 1.3rem;
  }
}

.order-book-header-content > div {
  display: flex;
  flex-wrap: wrap;
  padding: 0 1%;
}

.order-book-header-content > div:first-child {
  flex-basis: 43%;
  padding-left: 8px;
}

.order-book-header-content > div:last-child {
  margin-left: auto;
  margin-right: 10px;
}

#order_book_ask {
  box-sizing: border-box;
  direction: ltr;
  position: relative;
  will-change: transform;
  overflow: hidden;
  outline: none;
  border: none;
  border-radius: 0;
  background: transparent;
  box-shadow: none;
}

#ticker {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 0 0 29px;
  -webkit-box-align: center;
  align-items: center;
  font-size: 18px;
  -webkit-box-pack: center;
  justify-content: center;
  background: none;
  padding: 0px 10px;
  position: inherit;
  width: 100%;
  border: none;
  border-radius: 0;
}

#ticker > div:first-child {
  margin-right: auto;
}

#ticker > div:last-child {
  margin-left: auto;
}

#ticker > div.last {
  font-size: 1.4rem;
  line-height: 43px;
  width: 100%;
  padding: 0;
  background-color: #151833;
  color: #869ab8;
}

#order_book_bid {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 0%;
  position: relative;
  overflow: hidden;
  border: none;
  border-radius: 0;
  background-color: transparent;
}

.text-up {
  color: #008000 !important;
}

.text-up g {
  color: rgb(112, 168, 0) !important;
}

.text-down {
  color: rgb(255, 0, 122) !important;
}

.text-down g {
  color: rgb(255, 0, 122) !important;
}

.table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
  border: none;
  padding: 0 8px;
  line-height: 18px;
}

#ticker .ask, #ticker .bid {
  font-size: 14px;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  color: inherit;
  background-color: inherit;
  outline: none;
}

#ask_entry .label.label-danger,
#bid_entry .label.label-danger,
#ask_entry .label.label-success,
#bid_entry .label.label-success {
  top: 138px;
  left: 20px;
}

.justify-content-center {
  justify-content: center;
}

#candlestick_chart .highcharts-container {
  height: 100%!important;
  width: 100%!important;
}

#market_trades .panel-body-content {
  height: 100% !important;
  min-height: 100% !important;
}

.navbar-brand {
  padding: 0 !important;
}

img.logo-icon {
  width: 60px;
  position: absolute;
  left: 5px;
  top: 13px;
}

@media (max-width: 768px) {
  .market-info {
    display: none;
  }
  body,
  .navbar-static-top {
    min-width: 100% !important;
  }
  #wrap {
    flex-wrap: wrap;
    height: auto;
  }
  .left-column {
    min-width: 100%;
  }
  .right-column {
    flex: 0 1 100%;
  }
  #candlestick {
    min-height: 300px !important;
    height: 300px !important;
  }
  #indicator_switch_wrapper {
    margin-left: unset;
  }
  #range_switch {
    width: 100%;
  }
  .top-left-column {
    height: 350px;
  }
  .bottom-left-column {
    height: 300px;
  }
  .top-right-column {
    height: 350px;
  }
  .mask p {
    width: 87%;
    height: 35px;
  }
}

@media (max-width: 500px) {
  .top-right-column {
    flex-direction: column-reverse;
    height: 600px;
  }
  .top-right-column-left-part {
    flex-basis: 65%;
    height: 350px !important;
  }
  .top-right-column-right-part {
    flex: 1 1 35%;
  }
  .highcharts-container {
    width: auto !important;
  }
  .first {
    max-width: 100%;
  }
  .hidden-mobile {
    display: none !important;
  }
  .mask p {
    width: 90%;
  }
  #lang_name {
    display: none;
  }
  #market_trades table td.price {
    text-align: center;
  }
  #order_book_ask .table > tbody > tr > td.price,
  #order_book_bid .table > tbody > tr > td.price {
    text-align: right;
  }
}

.footer {
  position: fixed;
  background-color: #151833;
  border-top: 1px solid #20294a;
  right: 0;
  left: 0;
  bottom: 0;
  font-size: 1.4rem;

  .boxed-footer {
    width: 1380px;
    margin: 0 auto;
    padding: 20px;
    color: #b6c2e4;

    span.text-muted {
      color: #7a88af !important;
      float: right;
    }
  }
}

