<li id="settings" class="dropdown">
  <a class="dropdown-toggle" href="#" data-toggle="dropdown">
    <i class="fa fa-user-circle" style="font-size: 3rem; margin-right: .8rem"></i>
    User
    <i class="fa fa-chevron-down" style="font-size: 1rem;"></i>
  </a>
  <ul class="dropdown-menu hidden">
    <li>
      <a href="<%= t('.login_url') %>">
        <i class="fa fa-sign-in" style="margin-right: .5rem;"></i>
        Login
      </a>
    </li>
    <li>
      <a href="<%= t('.register_url') %>">
        <i class="fa fa-user-plus" style="margin-right: .5rem;"></i>
        Register
      </a>
    </li>
  </ul>
</li>
