<footer class="footer text-left" style="">
  <div class="boxed-footer">
    @ 2020 Five Angels Investment Limited
    <span class="text-muted">
      Powered By <i class="fa fa-heart text-danger"></i> Archidax Exchange
    </span>
  </div>
</footer>