<div id="ticker" class="panel panel-default">
 <!--  <div class="bid">
    <div class="price"></div>
  </div> -->
  <div class="last">
    <div class="price"></div>
  </div>
 <!--  <div class="ask">
    <div class="price"></div>
  </div> -->
</div>
