<div id="tradingview">
  <div id="tv_chart_container" class="hidden" style="width: 100%;"></div>
  <!-- TradingView Widget BEGIN -->
  <div class="tradingview-widget-container">
    <div id="tradingview_11ca0"></div>
    <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
    <script type="text/javascript">

      function getSymbol(){
        var returnSymbol;
        switch($($(location). attr("href").split('/')).last()[0]) {
          // case 'daibtc':
          //   returnSymbol = "BITFINEX:DAIBTC";
          //   break;
          case 'ethbtc':
            returnSymbol = "BINANCE:ETHBTC";
            break;
          // case 'bnbbtc':
          //   returnSymbol = "BINANCE:BNBBTC";
          //   break;
          // case 'mkrbtc':
          //   returnSymbol = "BITFINEX:MKRBTC";
          //   break;
          // case 'omgbtc':
          //   returnSymbol = "BINANCE:OMGBTC";
          //   break;
          // case 'srnbtc':
          //   returnSymbol = "BITTREX:SRNBTC";
          //   break;
          // case 'zilbtc':
          //   returnSymbol = "BINANCE:ZILBTC";
          //   break;
          // case 'waxbtc':
          //   returnSymbol = "BITTREX:WAXBTC";
          //   break;
          // case 'nexobtc':
          //   returnSymbol = "BITFINEX:BTCUSD";
          //   break;
          // case 'gntbtc':
          //   returnSymbol = "BINANCE:GNTBTC";
          //   break;
          // case 'npxsbtc':
          //   returnSymbol = "BINANCE:NPXSBTC";
          //   break;
          // case 'polybtc':
          //   returnSymbol = "BINANCE:POLYBTC";
          //   break;

          // case 'daieth':
          //   returnSymbol = "BITFINEX:DAIETH";
          //   break;
          // case 'bnbeth':
          //   returnSymbol = "BINANCE:BNBETH";
          //   break;
          // case 'mkreth':
          //   returnSymbol = "BITFINEX:MKRETH";
          //   break;
          // case 'omgeth':
          //   returnSymbol = "BINANCE:OMGETH";
          //   break;
          // case 'srneth':
          //   returnSymbol = "BITTREX:SRNETH";
          //   break;
          // case 'zileth':
          //   returnSymbol = "BINANCE:ZILETH";
          //   break;
          // case 'waxeth':
          //   returnSymbol = "BITTREX:WAXETH";
          //   break;
          // case 'nexoeth':
          //   returnSymbol = "BITFINEX:ETHUSD";
          //   break;
          // case 'gnteth':
          //   returnSymbol = "BINANCE:GNTETH";
          //   break;
          // case 'npxseth':
          //   returnSymbol = "BINANCE:NPXSETH";
          //   break;
          // case 'polyeth':
          //   returnSymbol = "BITTREX:POLYETH";
          //   break;

          // case 'btcdai':
          //   returnSymbol = "BITFINEX:DAIBTC";
          //   break;
          // case 'ethdai':
          //   returnSymbol = "BITFINEX:DAIETH";
          //   break;
          // case 'bnbdai':
          //   returnSymbol = "BINANCE:BNBUSDT";
          //   break;
          // case 'omgdai':
          //   returnSymbol = "BITTREX:OMGUSDT";
          //   break;
          // case 'gntdai':
          //   returnSymbol = "POLONIEX:GNTUSDT";
          //   break;
          // case 'npxsdai':
          //   returnSymbol = "BITTREX:NPXSUSDT";
          //   break;


          // case 'polydai':
          //   returnSymbol = "BITFINEX:DAIUSD";
          //   break;
          // case 'mrkdai':
          //   returnSymbol = "BITFINEX:DAIUSD";
          //   break;
          // case 'srndai':
          //   returnSymbol = "BITFINEX:DAIUSD";
          //   break;
          // case 'zildai':
          //   returnSymbol = "BITFINEX:DAIUSD";
          //   break;
          // case 'waxdai':
          //   returnSymbol = "BITFINEX:DAIUSD";
          //   break;
          // case 'nexodai':
          //   returnSymbol = "BITFINEX:DAIUSD";
          //   break;

          default:
            returnSymbol = "BINANCE:ETHBTC"
        }
        return returnSymbol
      }

      new TradingView.widget(
        {
          "autosize": true,
          "symbol": getSymbol(),
          "interval": "D",
          "timezone": "Etc/UTC",
          "theme": "Dark",
          "style": "1",
          "locale": "en",
          "toolbar_bg": "rgba(38, 45, 50, 1)",
          "enable_publishing": false,
          "allow_symbol_change": true,
          "container_id": "tradingview_11ca0"
        }
      );
    </script>
  </div>
  <!-- TradingView Widget END -->
</div>
