
<div class="info-alert">
  *For security purposes no withdrawals are permitted for 24 hours after modification of security methods.
</div>

<p class="empty-field">This field is required.</p>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group position-relative">
    <div class="form-input-icon input-mail-icon mb-2"></div>
    <%= f.email_field :email, autofocus: true, autocomplete: 'email',
                      class: 'form-control required', placeholder: 'Enter email' %>
  </div>

  <div class="submit-container">
    <%= f.submit 'Reset Password', class: 'btn btn-block btn-success', disabled: true %>
  </div>
<% end %>
