
<div class="text-center auth-logo-text mb-5">

  <% if account_signed_in? %>
    <% if current_account.level == 1 %>
      <%= link_to 'Verify your phone', new_phone_path, class: 'btn btn-primary btn-block mb-4' %>
    <% end %>
    <% if current_account.level == 3 %>
        <h4 class="mt-0 mb-3 mt-5" style="text-transform: uppercase;">Your identity has been successfully approved</h4>
    <% else %>
        <h4 class="mt-0 mb-3 mt-5" style="text-transform: uppercase;">Pending compliance officer approval</h4>
    <% end %>
    <h5 class="text-muted mb-0">Signed in as <span class="text-warning"><%= current_account.email %></span></h5>
  <% else %>
    <h4 class="mt-0 mb-3 mt-5" style="text-transform: uppercase;">You are not signed in.</h4>
    <%= link_to 'Sign in', new_account_session_path %> or <%= link_to 'Sign up', new_account_registration_path %>
  <% end %>

</div>
