<div class="container">
  <h1 class="text-center">Terms of use</h1>
  <div class="first-part">
    <p>
      Dear users if you are visiting or using our platform please understand and acknowledge the following statements. Following conditions will dictate your (user's) rights and responsibilities. If you do not agree to follow these (following) statements you should not visit or use our platform.
    </p>
    <p>
      Even if it is possible to change our user's agreement statements we will stay firm on our company policy and vision. If any update is made to the user's agreement it will be updated to (latest update) section of our web page or updates will be sent to customer's registered emails and other reachable social media.
    </p>
    <p>
      Any change made to the user agreement and condition will be responsibly followed by our company's web site being used now and in the future.
    </p>
    <p class="attention">
      (If you disagree or do not acknowledge our user's agreements and conditions please stop your visit or use of our platform immediately!)
    </p>
    <p>
      COINMARKS.IO agrees to provide online tools and trading platform to our customers to make exchanges between many kinds of crypto currencies.
    </p>
  </div>

  <h2>1.   Matters of attention</h2>
  <p>
    You must be eighteen or older in order to visit or use (to make trade) on our web site and your bank account must not be canceled or temporarily out of use.
  </p>
  <p>
    You must not be doing or involved with any unlawful and criminal activities such as money laundering and financing terrorist activities.
  </p>

  <h2>2.   User's registry and responsibility</h2>
  <p>
    It will be deemed to be understood and acknowledged all contents of our user agreements and conditions by the person (user) who is under any level of civil right and able to exercise full rights of citizenship or not has 'pushed register button' and activated an registry system.
  </p>
  <p>
    COINMARKS.IO highly discourages the registry and use of our platform by any person who has malicious plan of ignoring and violating our norm and policy.
  </p>
  <p>
    Registering process will be done after receiving account number and password. Also user must agree to receive emails related to the platform's operation and policy.
  </p>

  <h2>3.  User services</h2>
  <p>
    On COINMARKS.IO users can see crypto currency prices, see exchange information, users can exchange crypto currency and users can see their account info.
  </p>
  <p>
    In order to contribute to the integrity of the fund user must follow the platform's policy and must not be using the platform for the interest of third party.
  </p>
  <p>
    User must not disobey any of the policy and must not be enveloped with any malicious activities such as an MLM marketing and imposing as COINMARKS.IO's management. User can not lend or let other person use his or her COINMARKS.IO account for trading and other purposes. It is user's responsibility to not share and protect user's COINMARK account number, password, registered phone number and phone verification code. Once the user logs in to his or her COINMARKS.IO account, account password and phone verification code all crypto currency trade related operations and its outcome will be solely user's responsibility.
  </p>

  <h2>4.   Crypto currency exchange policy</h2>
  <p>
    Please acknowledge and respectively follow the following rules when using the COINMARKS.IO's trading platform to trade with other members.
  </p>

  <ul>
    <li>
      <p>
        - Checking crypto currency exchange information
      </p>
      <p>
        When checking out the crypto currency price and related data before starting the exchange it is best to carefully see and analyze the exchanging currency price, level of competence of the currency, exchange fees, and buying & selling price. It is encouraged to proceed the exchange process only after the careful analyzation and review of the current price and fluctuation the exchanging crypto currency.
      </p>
    </li>

    <li>
      <p>
        - Placing an order
      </p>
      <p>
        User is ready to place an order on the platform after carefully checking out the price and necessary information about the particular crypto currency. After placing a successful order on the platform, user will be exercising right of trade on behalf of COINMARKS.IO. Trade will end automatically when conducting the user's ordered trade and the platform will proceed without reminding beforehand.
      </p>
    </li>

    <li>
      <p>
        - Seeing detailed information of exchange
      </p>
      <p>
        By accessing control center's 'exchange information detail's data' user is able to see similar trade details and verify his or her own exchange process details and marks.
      </p>
    </li>

    <li>
      <p>
        - Canceling and changing the placed order
      </p>
      <p>
        User is able to cancel the placed order or cancel and place a new order only before the exchange has happened.
      </p>
    </li>
  </ul>

  <h2>5.   User's rights and responsibilities</h2>
    <p>
      According to this agreement user has right to use COINMARKS.IO's crypto currency exchange platform.
    </p>
    <p>
      User has right to stop the use of this platform at any given moment. User is responsible for the true and honesty of the registered personal information.
    </p>
    <p>
      When conducting crypto currency exchange on COINMARKS.IO it is user's responsibility to not disrupt the normal operation of exchange and obey the platform's policy.
    </p>
    <p>
      If an user gets in to dispute with other COINMARKS.IO user over crypto currency exchange issue, user will not be able to demand the documents related to COINMARKS.IO informally and separately of governing law.
    </p>

  <h2>6.   COINMARKS.IO's rights and responsibilities</h2>
    <p>COINMARKS.IO can exercise the right to refuse service If an user does not agree to the terms and agreements of the platform. Also COINMARKS.IO has the right to cancel the existing membership account. COINMARKS.IO has the right to demand payment for damage from the user or from (his or her) lawful associate If any user has caused technical or financial damage to the platform.
    </p>
    <p>
      COINMARKS.IO will cancel the account temporarily if COINMARKS.IO's management finds out that particular account's original user is letting other person use his or her account to trade.
    </p>
    <p>
      COINMARKS.IO has the right to fix any small and incorrect mistakes that has occurred on our platform.
    </p>
    <p>
      COINMARKS.IO has the right to change, deny or cancel service at any moment without announcing to users.
    </p>
    <p>
      The proper announcement on the website will determine the proper ending time of the particular projects on our platform.
    </p>
    <p>
      In order to guarantee the normal operation flow and safe trading environment of our crypto currency exchange service COINMARKS.IO is obligated to apply versatile and capable technical and management methods.
    </p>
    <p>
      If a member has not been using his or her COINMARKS.IO account and has not been using the account password to enter the account for period of one year COINMARKS.IO has the right to terminate the inactive account. After such an account cancelation case COINMARKS.IO has right to register a new member with same or similar account name that has been terminated before.
    </p>
    <p>
      COINMARKS.IO has the right to keep all of the account information and information related to trading on our platform during and after the user's active account period. But there are no intentions of selling, sharing or unlawfully use of the collected information of our members or ex members.
    </p>
    <p>
      COINMARKS.IO has the right to delete comments or remarks that are misleading, insulting, politically motivated hate comments and curse words.
    </p>

  <h2>7.   Special notice</h2>
    <p>
      COINMARKS.IO will not be responsible for integrity of user's fund and continuation of exchange service under the situations of force majeure such as break down of essential parts of the information technology, connection error in the information network, shut down of electric grid, worker's strike, worker's protest, political revolution, wild fire, flood, hurricane, terrorist attack, war, introduction of stricter law (related to crypto currency) by government or certain ban by official governing department.
    </p>

  <h2>8.   Intellectual property</h2>
    <p>
      COINMARKS.IO considers its logo, information data, web site design, graphic design, written programs, pictures, videos, sounds, songs, voices, related source code, applications and script as its intellectual property. When using our platform members are expected to obey the rules and not use our site's materials and intellectual properties in anyways. Users are discouraged not to use above mentioned materials and creations for purpose of profit, duplication and change.
    </p>

  <h2>9.   Policy on secrecy right</h2>
    <p>
      When user is visiting or trading on our platform COINMARKS.IO automatically records the meaning on your browser. But user's IP address /equal value/ and request to use our web site are not recorded. COINMARKS.IO will not collect our user's personal information, make change or sell to the any third party without consent of the platform's users.
    </p>

  <h2>10.   Warning of risks</h2>
    <p>
      When user is entering the crypto currency trade/exchange/ on our platform user must be able to assess his or her risk, study the crypto currency market and price fluctuations, analyze & take full responsibility of the potential loss of invested capital.
    </p>
    <p>
      COINMARKS.IO will not be responsible for any result (or loss of fund) occurred due to drastic change of national policy related to crypto currency trade/exchange/ or banning of crypto currency trade/exchange/. There for only user will be responsible for any result occurred during or after a such circumstances.
    </p>

  <h2>11.   Lack of responsibility and violating a contract</h2>
    <p>
      COINMARKS.IO reserves the right to demand the payment for damage if a user has caused COINMARKS.IO a damage (or loss of fund) by providing the platform with fake, incomplete or wrong information. Also COINMARKS.IO has right to request the payment of damage if a user intentionally breaks the rules and regulations set by the platform and conduct malicious activities that harms other members of the platform and the platform itself. If a member uses malicious software and techniques to intervene and interrupt crypto currency trades/exchanges/ on our platform and influences other members in certain ways COINMARKS.IO will immediately cancel his or her membership and request the payment for occurred damage.
    </p>

  <h2>12.   Money laundering and financing terrorism</h2>
    <p>
      COINMARKS.IO is responsible for our user's safe and secure crypto currency trade/exchange/ experience there for COINMARKS.IO. has to be vigilant in its dealings with new members and must maintain high alert at all times. To prevent the occurrence of malicious incidents to happen COINMARKS.IO is obligated to check on suspicious trade activities and work with and report to international regulatory offices (if requested). Under the related law and contracts COINMARKS.IO reserves a right to keep some or specific information details of platform users and even after the cancelation or termination of an account COINMARKS.IO will keep some information details of the platform users. At any given moment COINMARKS.IO can exercise its /right to refuse service/ or deny crypto currency trade activity to any specific person who is related to unlawful activities.
    </p>

  <h2>13.   Related law</h2>
    <p>
      COINMARKS.IO is located in Central city there for all laws and regulations of our crypto currency exchange service are directed and regulated by Hong kong's financial law and its related governing body. COINMARKS.IO cannot give any specifications or guarantee when a member is using our platform in other regions/counties.
    </p>
    <p>
      If a potential user is requesting to join or trade from a country other than Mongolia it is a user's full responsibility to check and study the legality of the crypto currency trade, its national governing laws and potential risks involved with such endeavor.
    </p>

  <h2>14.   Validation process and explanation</h2>
    <p>
      After successfully register process according to the detailed order on COINMARKS.IO's register page, user will receive his or her account number and password. And the account will be validated when user activates the register button.
    <p>
    <p>
      COINMARKS.IO reserves the right of final explanation of the user agreement.
    </p>
</div>
