
<p class="empty-field">This field is required.</p>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group position-relative">
    <div class="form-input-icon input-mail-icon mb-2"></div>
    <%= f.email_field :email, autofocus: true, autocomplete: 'email',
                      value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email),
                      class: 'form-control required', placeholder: 'Enter email' %>
  </div>

  <div class="submit-container">
    <%= f.submit 'Resend', class: 'btn btn-block btn-success', disabled: true %>
  </div>
<% end %>
