<div class="text-center auth-logo-text mb-3">
  <h4 class="mt-0 mb-4 mt-5" style="text-transform: uppercase;">Add Document</h4>
</div><!--end auth-logo-text-->

<div class="row steps-cust">
  <div class="col-md-4" align="right">
    <a href="<%= edit_account_registration_path %>" class="btn btn-success btn-round"><i class="fas fa-check"></i></a>
  </div>

  <div class="col-md-4" align="center">
    <a href="<%= new_phone_path %>" class="btn btn-success btn-round"><i class="fas fa-check"></i></a>
  </div>

  <div class="col-md-4" align="left">
    <a href="#" class="btn btn-info btn-round"><i class="fas fa-circle"></i></a>
  </div>
</div>

<form class="form-horizontal auth-form my-4" action="">
  <div class="row mb-3">
    <%= render 'form', document: @document %>
  </div>
</form>